.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
}
.contenedor {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 2000px;
}
h1 {
    font-size: 32px;
    color: #111;
    margin-bottom: 10px;
}
.descripcion {
    font-size: 16px;
    color: #555;
    border: 2px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
.explore-btn {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    height: 200px; width: 200px;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.05);
    border: 2px solid green;
}

.fotos1{
    border-radius: 50px;


}