body {
    font-family: 'Segoe UI', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
  }
  
  .seccion-proyectos {
    width: 1440px;
    height: 954px;
  }
  
  .seccion-proyectos h1 {
    font-size: 80px;
    color: #1a1a1a;
    width: 531px;
    height: 208px;
    margin-top: 55px;
    margin-left: 55px;
    line-height: 100px;
  }
  
  .contenedor-tarjetas {
    display: flex;
  }  
  
  .numero {
    font-size: 35px;
    color: #999;
    width: 40px;
    height: 50px;
    font-weight: 700;
    margin-left: 60px;
  }
  
  .tarjeta p {
    font-size: 21px;
    color: #444;
    width: 350px;
    height: 100px;
    margin-left: 60px;
  }
  
  .tarjeta img {
    width: 400px;
    height: 345px;
    margin-left: 60px;
  }